Repository simonadamgyula/Proj1-valorant-9C, pull requests merged in 2023-02, with the labels that each got.

#13 agents.html hozzáadva (elvileg)
  agents.html
Labels: agents

#11 maps.html hozzáadva
  maps.html
Labels: maps

#12 quiz.html hozzáadva
  quiz.html
Labels: quiz

#10 index.html (home) hozzáadva
  index.html
Labels: index

#14 about oldal létrehozása
  about.html
Labels: about

#15 agent kepek
  sources/agents/astra.png
  sources/agents/breach.png
  sources/agents/brim.png
  sources/agents/chamber.png
  sources/agents/cypher.png
  sources/agents/fade.png
  sources/agents/harbor.png
  sources/agents/jett.png
  sources/agents/kj.png
  sources/agents/ko.png
  sources/agents/neon.png
  sources/agents/omen.png
  sources/agents/phoenix.png
  sources/agents/raze.png
  sources/agents/reyna.png
  sources/agents/sage.png
  sources/agents/skye.png
  sources/agents/sova.png
  sources/agents/viper.png
  sources/agents/yoru.png
Labels: agents, source

#19 css fájl létezik
  style.css
Labels: style

#20 2 új betűtípus
  style.css
Labels: source

#25 carousel hozzáadva a maps.html-hez
  maps.html
  style.css
Labels: maps, style

#27 carousel script hozzáadva
  index.html
  index.js
  maps.html
Labels: script, maps

#29 css navbar benne van mindben elvileg
  about.html
  agents.html
  index.html
  maps.html
  quiz.html
Labels: script, style

#32 leírás kész
  maps.txt
Labels: maps

#36 bug kijavítva
  quiz.html
Labels: bug

#37 30 agent kártyák
  agents.html
  index.html
  sources/agents/kayo.png
  style.css
Labels: agents

#39 agent roleok mostmár le- és felnyithatóak
  agents.html
  index.js
  style.css
Labels: enhancement, agents, script

#40 7 quiz kérdések gyűjtése
  quiz_kerdesek.txt
Labels: quiz

#48 41 kvíz kérdések megjelenítése
  index.js
  quiz.html
  quiz.js
  style.css
Labels: quiz, script

#47 about szöveg kész és jó branchbe van
  abot.txt
Labels: about, source

#51 reset gomb működik
  quiz.html
  quiz.js
  style.css
Labels: bug, enhancement, quiz, script

#52 agent név --- származás
  agent_description.txt
Labels: agents, source

#54 maps.html véglegesítve (talán)
  maps.html
  style.css
Labels: maps
